@import url(../../styles/general.css);

.sign-in-container {
  margin-top: 300px;
}

.sign-in-container button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #8b0000; /* Dark Red */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
}

/* Hover State */
.sign-in-container button:hover {
  background-color: #b30000; /* Darker Red on Hover */
}

/* Active State */
.sign-in-container button:active {
  background-color: #660000; /* Even Darker Red on Click */
}

/* Disabled State */
.sign-in-container button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.test {
  background-color: white;
}