.sign-in-container {
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 200px;
}

.boxContainer {
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.box {
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 250px;
}

.box h3 {
  padding-top: 25px;
  border-top: solid 2px;
}

.SignInContainer button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: var(--main-color); /* Dark Red */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
}

/* Hover State */
.SignInContainer button:hover {
  background-color: #000000; /* Darker Red on Hover */
  color: var(--main-color);
  transition: 50ms;
}

/* Active State */
.SignInContainer button:active {
  background-color: #660000; /* Even Darker Red on Click */
}

/* Disabled State */
.SignInContainer button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.test {
  background-color: white;
}