* {
  margin: 0;
  background-color: rgb(0, 0, 0);
}

.wrapper {
  background-color: white;
  width: 100%;
  height: 260px;
  max-width: 800px;
  margin-inline: auto;
  position: relative;
  margin-top: 20px;
  overflow: hidden;
  --item-width: 140px;
  --itemsNumber: 8; /* Default value if not set by JS */
}

@keyframes scrollleft {
  to {
    left: calc(-1 * var(--item-width));
  }
}

.itemContainer {
  display: flex;
  gap: 20px;
}

.item {
  width: calc(100% / var(--item-width));
  margin-top: 5px;
  height: 250px;
  flex-shrink: 0;
  border-radius: 7px;
  position: relative;
  left: calc(140px * var(--itemsNumber));
  animation-name: scrollleft;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.611);
}

.coverContainer {
  height: 70%;
  width: var(--item-width);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.coverContainer img {
  width: 100%;
  height: 100%;
  position: absolute;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.informationContainer {
  margin-top: 19px;
  display: flex;
  justify-content: center;
}

.informationContainer p {
  color: white;
}

