.content-container {
  background-color: #1a1a1a;
  width: 187px;
  height: 451px;
  border: 3px solid transparent;
  text-align: center;
  padding-bottom: 30px;
  margin-bottom: 15px;
  border-radius: 5px;
  transition: border-color 0.5s ease;
  margin-left: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Horizontal offset, Vertical offset, Blur radius, Color */
}

.content-container:hover {
  border-color: var(--main-color);
}

.cover-container {
  height: 270px;
  width: 100%;
  text-align: center;
  display: inline-block;
  margin-bottom: 0;
}

.cover-container img {
  height: 100%;
  width: 100%;
  display: inline-block;
}

.title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 7px;
  margin-bottom: 20px;
  max-width: 100px;
}

.title p {
  margin: 0;
  margin-left: 10px;
  max-width: 95%;
  word-wrap: break-word;
  font-size: 20px;
  color: white;
}

.info {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.author-date {
  padding-left: 8px;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 35px;
}

.author-date p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15.5px;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  white-space: nowrap;
}

.rating {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin: 0;
  margin-top: 10px;
}

.test {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  height: 20px;
  padding-right: 10px;
  margin-left: 40px;  
  cursor: pointer;
  position: relative;
}

.rating i {
  font-size: 16px;
  padding-right: 5px;
  margin: 0;
}

.rating p {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(199, 199, 199);
  margin: 0;
}

.avgRating i {
  color: #ffd43b;
  position: absolute;
  left: -22px;
  top: 7px;
}

.userRating i {
  color: var(--main-color);
  position: absolute;
  left: -22px;
  top: 7px;
}

.button-container {
  margin-top: 20px;
  position: relative;
  display: flex;
  align-items: baseline;
}

.elementCardButton {
  margin-left: 15px;
  font-size: 16px;
  color: white;
  border: 0;
  border-radius: 4px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #30353c;
  cursor: pointer;
}

.elementCardButton:hover {
  border: solid 0.5px rgb(255, 255, 255);
}

.tag {
  position: absolute;
  right: 55px;
  top: -6px;
}