.content-container {
  background-color: #1a1a1a;
  width: 187px;
  height: 451px;
  border: 3px solid transparent;
  text-align: center;
  padding-bottom: 30px;
  margin-bottom: 15px;
  border-radius: 5px;
  transition: border-color 0.5s ease;
  margin-left: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Horizontal offset, Vertical offset, Blur radius, Color */
}

.content-container:hover {
  border-color: rgb(219, 0, 80);
}

.cover-container {
  height: 270px;
  width: 100%;
  text-align: center;
  display: inline-block;
  margin-bottom: 0;
}

.cover-container img {
  height: 100%;
  width: 100%;
  display: inline-block;
}

.title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 7px;
  margin-bottom: 20px;
  max-width: 100px;
}

.title p {
  margin: 0;
  max-width: 95%;
  word-wrap: break-word;
  font-size: 18px;
}

.info {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.author-date {
  padding-left: 8px;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 35px;
}

.author-date p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15.5px;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  white-space: nowrap;
}

.rating {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin: 0;
  margin-top: 10px;
}

.test {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  padding-right: 10px;
  margin-left: 9px;  
  background-color: #1a1a1a;
}

.rating i {
  color: #ffd43b;
  font-size: 14.2px;
  padding-right: 5px;
  margin: 0;
}

.rating p {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(199, 199, 199);
  margin: 0;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.elementCardButton {
  font-size: 16px;
  color: white;
  border: 0;
  border-radius: 4px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #30353c;
  margin-left: 0px;
  margin-right: 44px;;
}

.elementCardButton:hover {
  border: solid 0.5px rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 4px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
}
