@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");


.information2 {
  display: inline-block;
  margin-top: 10px;
  margin-left: 100px;
  color: white;
}

.minibox {
  margin-bottom: 10px;
  border-bottom: solid 1px;
  padding: 10px 10px;
  align-items: center;
  border-color: rgb(244, 0, 85);
}

.genres {
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 5px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: lighter;
  letter-spacing: 1px;
}

.genres p {
  font-size: 15px;
  border: solid 1px;
  border-radius: 18px;
  padding: 6px 6px;
  padding-left: 10px;
  padding-right: 10px;
}

.field {
  color: rgb(244, 0, 85);
  font-family: "Raleway", sans-serif;
  
}

.minibox {
  margin: 0;
}

.minibox p {
  display: inline-block;
  font-size: 15px;
  margin-right: 10px;
}

.data {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 1px;
}