.superContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.container {
  color: white;
  width: 90%;
  height: 90%;

  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.w {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field,
button {
  font-family: var(--secondary-font);
  margin-bottom: 10px;
}

input {
  margin-left: 10px;
  font-family: var(--secondary-font);
}

.title {
  font-size: 25px;
  font-family: var(--primary-font);
  margin-bottom: 50px;
}

.searchBarContainer {
  margin-top: 50px;
  width: 500px;
  background-color: brown;
  margin-bottom: 30px;
}

.myButton {
  margin-left: 45px;
}

.myButton:hover {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 55px;
  padding-right: 55px;
  font-family: var(--secondary-font);
}
