@import "../../styles/general.css";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  max-width: 1200px;
}

header {
  display: flex;
  justify-content: right;
  align-items: center;
  color: rgb(255, 255, 255);
}

.menu {
  display: flex;
  position: relative;
  left: 250px;
}

.menu button {
  font-weight: bold;
  color: white;
  background-color: rgb(217, 0, 87);
  border-radius: 4px;
  border: 0;
  padding: 5px 5px;
  padding-left: 10;
  padding-right: 10px;
  margin: 10px;
}

.menu button:hover {
  background-color: rgb(150, 0, 60);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  background-color: rgb(9, 158, 27);
}

main h1 {
  margin-left: 200px;
}


.name {
 /*  font-family: "Bebas Neue"; */
  font-size: 90px;
  color: rgb(255, 0, 98);
}

.searchbar-container {
  background-color: pink;
}

.searchbar-container input {
  font-family: "Bebas Neue";
  font-size: 17px;
  padding-left: 30px;
  margin-top: 50px;
}

.searchbar {
  color: black;
  width: 500px;
  height: 40px;
  border-radius: 20px;
  border: 0;
  background-color: white;
}
