@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.bodyStyle {
  background-color: rgb(30, 30, 32);
  margin: 0;
  padding: 0;
}

.menu {
  display: flex;
  position: relative;
  justify-content: right;
  align-items: center;
  color: rgb(255, 255, 255);
  margin-top: 20px;
  margin-right: 50px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 650px;
}
.link {
  text-decoration: none;
  color: white;
  font-family: "Audiowide", sans-serif;
  margin: 10px;
  font-size: 20px;
}
.link:hover {
  color: var(--main-color);
}

.userButton {
  margin: 0;
  margin-left: 20px;
  padding: 5px;
}

.userButton button:hover {
  margin: 0;
  padding: 5px;
  border-color: var(--main-color);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-family: var(--secondary-font);
  margin-top: 90px;
}

main h1,
h2 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.name {
  font-size: 80px;
  color: var(--main-color);
  display: flex;
  font-family: var(--primary-font);
}

.searchbar {
  color: black;
  font-size: 17px;
  font-family: "Bebas Neue";
  width: 500px;
  height: 40px;
  margin-top: 50px;
  padding-left: 30px;
  border-radius: 20px;
  border: 0;
  background-color: white;
  outline: none;
}

.searchbar:hover {
  border: solid 2.5px rgb(255, 0, 98);
  height: 36.5px;
  width: 496.5px;
  padding-left: 26.5px;
}
