@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bodyStyle {
  background-color: rgb(27, 27, 28);
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.headerContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 690px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./01.png");
  background-size: cover;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header p {
  font-size: 40px;
  color: rgb(255, 0, 98);
  font-family: fantasy;
  font-weight: lighter;
  margin-right: 150px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 650px;
}
.link {
  text-decoration: none;
  color: white;
  font-family: "Audiowide", sans-serif;
  margin: 10px;
  font-size: 20px;
}
.link:hover {
  color: rgb(247, 0, 70);
}

.titleContainer {
  margin-right: 100px;
  margin-top: 20px;
}

.listName {
  color: white;
  font-size: 60px;
  font-family: "Audiowide", sans-serif;
  margin-top: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.addItemContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchBarContainer input {
  margin-top: 30px;
}

.textContainer {
  margin: 0;
  margin-top: 55px;
}

.textContainer p {
  font-size: 20px;
  margin: 0;
  color: rgb(204, 202, 202);
}

.contentGrid {
  margin-top: 720px;
  margin-right: 20px;
  margin-left: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 5px;
  row-gap: 1px;
}
