.listBody {
  background-color: rgb(27, 27, 28);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 5px;
  row-gap: 1px;
  margin-top: 60px;
}
