@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bodyStyle {
  background-color: rgb(27, 27, 28);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.listBody {
  background-color: rgb(27, 27, 28);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: max-content;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.headerContainer {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./01.png");
  background-size: cover;
  background-position: center;
  height: 600px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header p {
  font-size: 40px;
  margin-left: 60px;
  color: rgb(255, 0, 98);
  font-family: fantasy;
  font-weight: lighter;
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 650px;
}
.link {
  text-decoration: none;
  color: white;
  font-family: "Audiowide", sans-serif;
  margin: 10px;
  font-size: 20px;
}
.link:hover {
  color: rgb(247, 0, 70);
}
.contentGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 5px;
  row-gap: 1px;
  margin-top: 1260px;
}
