@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
  color: white;
}

.container {
  display: flex;
  margin-left: 100px;
  margin-top: 40px;
  font-family: "Raleway", sans-serif;
}

.cover {
  display: flex;
  margin: 0;
}

.cover img {
  width: 243px;
  height: 364.5px;
  border-radius: 5px;
}

.information1 {
  margin-top: 30px;
  margin-left: 40px;
}

h1 {
  font-size: 40px;
  margin-bottom: 30px;
  font-family: "Raleway", sans-serif;
  margin-right: 360px;
}

.description-container {
  display: flex;
  height: 150px;
  font-size: 16px;
}

@media screen and (max-height: 150px) {
  .description-container {
    font-size: 14px;
  }
}

.description-container p {
  font-family: "Raleway", sans-serif;
  line-height: 1.5 
}

.information1 h3 {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}

.minibox h3 {
  display: inline;
  margin-right: 5px;
}

.top-container {
  display: flex;
}

