@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.container {
  display: flex;
  margin-left: 100px;
  margin-top: 40px;
  font-family: 'Raleway', sans-serif;
  border: solid
}

.cover {
  display: flex;
  margin: 0;
}

.cover img {
  width: 243px;
  height: 364.5px;
  border-radius: 5px;
}

.information1 {
  margin-top: 30px;
  margin-left: 40px;
}

h1 {
  font-size: 40px;
  margin-bottom: 30px;
  font-family: 'Raleway', sans-serif;

}

.information1 h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}

.description {
  margin-top: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}


.information2 {
  display: inline-block;
  margin-top: 10px;
  margin-left: 100px;
}

.minibox {
  margin-bottom: 10px;
  border-bottom: solid 1px;
  padding: 10px 10px;
  align-items: center;
  border-color: var(--main-color);
}

.field {
  color: var(--main-color);
}

.minibox {
  margin: 0;
}

.minibox p {
  display: inline-block;
  font-size: 15px;
  margin-right: 10px;
}

.minibox h3 {
  display: inline;
  margin-right: 5px
}

.genres p {
  font-size: 15px;
  border: solid 1px;
  border-radius: 18px;
  padding: 6px 6px;
  padding-left: 10px;
  padding-right: 10px;
}