.container {
  display: flex;
  justify-content: end;
  background-color: blue;
  position: relative;
}

.buttonContainer {
  position: absolute;
  right: 250px;
}

.createList {
  font-size: 20px;
  border: 0;
  border-radius: 7px;
  background-color: var(--main-color);
  color: rgb(0, 0, 0);
  margin-right: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: fantasy;
  font-weight: lighter;

}

.createList i {
  font-size: 20px;
  padding-right: 15px;
  padding-left: 10px;
}

.createList:hover {
  cursor: pointer;
  border: solid 2px white;
  background-color: black;
  color: white;
  transition: 90ms;
}

