body {
  color: rgb(178, 35, 59);
  padding: 0;
  margin: 0;
} 

.page {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  align-items: baseline;
  background-color: aqua;
}

.container {
  border: solid 2px rgb(0, 207, 0);
}

.listName {
  font-family: fantasy;
  font-weight: lighter;
}